@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,300i,400,400i,700');

body {
  margin: 2% 5%;
  font-family: "Open Sans", serif;
  background: linear-gradient(to right, #cbf144, #eFAD54);
  margin-top: 10%;
  margin-bottom: 5%;

}

.title-container {
  height: 24%;
  width: 98%;
  margin-bottom: 4%;
  background: linear-gradient(to right, #00AD54, #00f144);
  /*background: url("img/img2.jpg") center center no-repeat;*/
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title {
  color:white;
  text-shadow:4px 4px #eFAD54;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Roboto Slab', serif;
  margin-top: -5px;
  margin-bottom: 1px;
}

.title-container__subtitle {
  color:white;
  text-shadow:2px 2px #eFAD54;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
}

.form-container {
  border-left: solid 2px #cbf144; 
    background: linear-gradient(to right, #00f144, #00AD54);
    height: 98%;
    width: 98%;
    padding-left: 4%; 
    padding-bottom: 4%;
    /* margin-top: 2%; */

}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-top: solid 1px #cbf144;
  border-bottom: solid 1px #cbf144;
  width: 25%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 1%;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 1%;

}
input[type="radio"] {
  margin-left: 0.4%;
  margin-right: 0.4%;
  font-size: 20px;
}

form{

  align-items: center;
  justify-content: center;
  text-align: center;

}
input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #00f144 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 36%;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
  background-color: #cbf144;
  color: #fff;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-left: 15%;
}

.weather__key {
  color: #fFfD54;
  padding: 8px 0 8px 0;
  font-weight: 400;

}


.weather__value {
  color: #fff;
  font-weight: 100;
}

.weather__error {
  color: #fFfD54;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}


label  {
    display: contents;
    max-width: 100%;
    margin-top: 5px;
    font-weight: 400;
    color: #cbf144;
    font-size: 20px;
     align-items: center;
    justify-content: center;
    text-align: center;
}

p[name="unities"]{
  margin-left: 24%;
  margin-right: 25%;
}


.profile_image {
    width: 130px;
    height: 130px;
    margin-left: -198%;
    margin-bottom: -31%;
  box-shadow:3px 3px #eFAD54;

}
.profil_name{
  color:white;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  margin-left: -188%;
}
.main_icon {
    width: 130px;
    height: 130px;
    margin-left: 137%;
    margin-bottom: -25%
}
h4 {
  color:white;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

td, th {
  border: 2px solid #00AD54;
  text-align: left;
  padding: 8px;
}
.head_weather__info{
   font-weight: ;


}
